body {
  font-size: 100%;
  padding: 0.5em;
}

h3 {
  font-size: 2em;
  padding-left: 0.5em;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  margin-bottom: 2em;
}

.header ul a {
  font-size: 1.1em;
  border-radius: 0.15rem;
}

.header a {
  font-size: 1.5em;
  font-weight: bold;
}

.header a:link {
  text-decoration: none;
}

.header img {
  width: 2.5em;
  height: 2.5em;
}

.header form p {
  display: inline-block;
  margin-right: 0.6em;
}

.content {
  display: flex;
}

.content .side-nav {
  width: 100%;
  padding: 1em;
}

.content .card-columns button {
  border: none;
}

.content .card-columns button i {
  font-size: 1.5em;
}

.content .card-columns button:hover {
  color: #e60000;
}

.card-columns {
  padding: 1em;
  margin-bottom: 4em;
}

.box {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.box p {
  margin-bottom: 0.5em;
}

.box form {
  text-align: left;
  padding: 0.5em;
  margin-top: 3em;
}

.box form label {
  margin-bottom: 0;
}

.box form button {
  margin-top: 1.5em;
}

.footer {
  width: 100%;
  text-align: center;
  background-color: #f2f2f2;
  bottom: 0;
  position: fixed;
}

.footer p {
  margin-bottom: 0;
}

.resources {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2em;
}

.resources .card-columns {
  margin-bottom: 0;
}

.resources h4 {
  border-bottom: 1px solid #b3b3b3;
  margin-bottom: 0.6em;
  padding-bottom: 0.2em;
}

.resources ul {
  padding: 0;
}

.resources ul li {
  list-style-type: none;
}

.resources ul li h5 {
  display: inline-block;
}

@media (min-width: 425px) {
  .box {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .box {
    width: 50%;
  }
  .card {
    width: 300px;
  }
}

@media (min-width: 1024px) {
  .box {
    width: 40%;
  }
  .box form {
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    background-color: #f2f2f2;
    padding: 2em;
  }
}

@media (max-width: 425px) {
  .card-columns {
    padding: 0;
  }
  .header {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .header form {
    display: flex;
    flex-direction: column;
  }
  .nav {
    width: 100%;
    flex-direction: column;
  }
  .nav a {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  .header {
    margin-bottom: 0;
    flex-direction: column;
    align-items: center;
  }
  .side-nav .flex-column {
    flex-direction: row !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .resources .box {
    margin: 1em;
    width: 70%;
  }
}
