<!-- views/partials/_header.ejs -->
<nav class="header">
  <p>
    <img src="/images/icon.svg" alt="cacheable-logo">
    <a href="/">cacheable</a>
  </p>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="/auth/login">Log In</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/auth/register">Sign Up</a>
    </li>
  </ul>
</nav>
