<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- include head partial -->
    <% include ./partials/_head %>
  </head>
  <body>
  <header>
    <!-- include header partial -->
    <% include ./partials/_header %>
  </header>
  <main>
    <section class="search">
      <input id="search_string" type="text" name="search_string" type="submit" placeholder="Search Everything...">
      <button id="search_button"><i class="fa fa-search" aria-hidden="true"></i></button>
    </section>
    <div class="content">
      <section class="side-nav">
        <nav>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#" id="all">All</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="html">HTML</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="css">CSS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="js">Javascript</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="ruby">Ruby</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="sql">SQL</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="bootstrap">Bootstrap</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="jquery">jQuery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="react">React</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="angular">Angular</a>
            </li>
          </ul>
        </nav>
      </section>
      <section class="card-columns">
        <!-- Content tiles -->
        <% for (let post of posts) { %>
        <article class="card" data-post-id="<%= post.id%>" data-tag="">
          <section class="card-body">
            <a href="<%= post.url %>" target="_blank"><h5 class="card-title"><%= post.title %></h5></a>
            <p class="card-text text-muted"><%= post.description %></p>
            <% if (locals.user) { %>
            <div class="foot-card">
              <button class="like"><i class="fa fa-heart" aria-hidden="true"></i></button><br>
              <div class="rating">
                <span class="rate5"><i class="fa fa-star"></i></span><span class="rate4"><i class="fa fa-star"></i></span><span class="rate3"><i class="fa fa-star"></i></span><span class="rate2"><i class="fa fa-star"></i></span><span class="rate1"><i class="fa fa-star"></i></span>
              </div>
            </div>
            <% } %>
          </section>
        </article>
        <% } %>
        <article class="card" data-tag="bootstrap">
          <section class="card-body">
            <a href="https://hackerthemes.com/bootstrap-cheatsheet/" target="_blank"><h5 class="card-title">Bootstrap 4 Cheatsheet</h5></a>
            <p class="card-text text-muted">Bootstrap 4 classes</p>
            <% if (locals.user) { %>
              <div class="foot-card">
                <button class="like"><i class="fa fa-heart" aria-hidden="true"></i></button><br>
                <div class="rating">
                  <span class="rate5"><i class="fa fa-star"></i></span><span class="rate4"><i class="fa fa-star"></i></span><span class="rate3"><i class="fa fa-star"></i></span><span class="rate2"><i class="fa fa-star"></i></span><span class="rate1"><i class="fa fa-star"></i></span>
                </div>
              </div>
            <% } %>
          </section>
        </article>
      </section>
    </div>
  </main>

  <footer class="footer mt-auto py-3">
    <!-- include footer -->
    <% include ./partials/_footer %>
  </footer>
  </body>
</html>
