<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- include head partial -->
    <% include ./partials/_head %>
  </head>
  <body>
  <header>
    <!-- include header partial -->
    <% include ./partials/_header %>
  </header>
  
  <h3>Welcome to cacheable!</h3>
  
  <footer>
    <!-- include footer -->
    <% include ./partials/_footer %>
  </footer>
  </body>
</html>
