<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- include head partial -->
    <% include ./partials/_head %>
  </head>
  <body>
  <header>
    <!-- include header partial -->
    <% include ./partials/_header %>
  </header>
  <main class="content">
    <section class="side-nav">
      <nav>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">HTML</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CSS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Javascript</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ruby</a>
          </li>
        </ul>
      </nav>
    </section>
    <section class="card-columns">
      <!-- Content tiles -->
      <article class="card">
        <section class="card-body">
          <h5 class="card-title">Resource Title 1 - </h5>
          <p class="card-text text-muted">Resource description</p>
          <button><i class="fa fa-heart" aria-hidden="true"></i></button>
        </section>
      </article>
  
      <article class="card">
        <section class="card-body">
          <h5 class="card-title">Resource Title 2 - </h5>
          <p class="card-text text-muted">Resource description</p>
          <button><i class="fa fa-heart" aria-hidden="true"></i></button>
        </section>
      </article>
  
      <article class="card">
        <section class="card-body">
          <h5 class="card-title">Resource Title 3 - </h5>
          <p class="card-text text-muted">Resource description</p>
          <button><i class="fa fa-heart" aria-hidden="true"></i></button>
        </section>
      </article>
  
      <article class="card">
        <section class="card-body">
          <h5 class="card-title">Resource Title 4 - </h5>
          <p class="card-text text-muted">Resource description</p>
          <button><i class="fa fa-heart" aria-hidden="true"></i></button>
        </section>
      </article>
  
      <article class="card">
        <section class="card-body">
          <h5 class="card-title">Resource Title 5 - </h5>
          <p class="card-text text-muted">Resource description</p>
          <button><i class="fa fa-heart" aria-hidden="true"></i></button>
        </section>
      </article>
  
      <article class="card">
        <section class="card-body">
          <h5 class="card-title">Resource Title 6 - </h5>
          <p class="card-text text-muted">Resource description</p>
          <button><i class="fa fa-heart" aria-hidden="true"></i></button>
        </section>
      </article>
  
      <article class="card">
        <section class="card-body">
          <h5 class="card-title">Resource Title 7 - </h5>
          <p class="card-text text-muted">Resource description</p>
          <button><i class="fa fa-heart" aria-hidden="true"></i></button>
        </section>
      </article>
  
      <article class="card">
        <section class="card-body">
          <h5 class="card-title">Resource Title 8 - </h5>
          <p class="card-text text-muted">Resource description</p>
          <button><i class="fa fa-heart" aria-hidden="true"></i></button>
        </section>
      </article>
  
      <article class="card">
        <section class="card-body">
          <h5 class="card-title">Resource Title 9 - </h5>
          <p class="card-text text-muted">Resource description</p>
          <button><i class="fa fa-heart" aria-hidden="true"></i></button>
        </section>
      </article>
  
      <article class="card">
        <section class="card-body">
          <h5 class="card-title">Resource Title 10 - </h5>
          <p class="card-text text-muted">Resource description</p>
          <button><i class="fa fa-heart" aria-hidden="true"></i></button>
        </section>
      </article>
    </section>
  </main>
  
  <footer class="footer mt-auto py-3">
    <!-- include footer -->
    <% include ./partials/_footer %>
  </footer>
  </body>
</html>
