<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- include head partial -->
    <% include ./partials/_head %>
  </head>
  <body>
    <header>
      <!-- include header partial -->
      <% include ./partials/_header %>
    </header>
    <% if(locals.error) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong><%= locals.error %></strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    <% } %>
    <section class="box">
      <h3>Welcome back</h3>
      <p class="text-muted">Log in to your Cacheable account</p>
      <p>New to Cacheable? <a href="/auth/register">Sign up</a></p>
      <form action="/auth/login" method="POST">
        <!-- Email -->
        <div class="form-group">
          <label for="email">Email:</label>
          <input class="form-control" type="text" name="email" required>
        </div>
        <!-- Password -->
        <div class="form-group">
          <label for="password">Password:</label>
          <input class="form-control" type="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
    </section>

    <footer class="footer mt-auto py-3">
      <!-- include footer -->
      <% include ./partials/_footer %>
    </footer>
  </body>
</html>
