<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- include head partial -->
    <% include ./partials/_head %>
  </head>
  <body>
    <header>
      <!-- include header partial -->
      <% include ./partials/_header %>
      <p>If you do not have an account already, please use this link to <a href="#">register</a></p>
      <h3>Login</h3>
    </header>

    <form action="/login" method="POST">
      <!-- Email -->
      <div class="form-group">
        <label for="email">Email:</label>
        <input class="form-control" type="text" name="email" >
      </div>
      <!-- Password -->
      <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-control" type="password" name="password" >
      </div>
      <button type="submit" class="btn btn-outline-primary">Login</button>
    </form>
    
    <footer>
      <!-- include footer -->
      <% include ./partials/_footer %>
    </footer>
  </body>
</html>