<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- include head partial -->
    <% include ./partials/_head %>
  </head>
  <body>
    <header>
      <!-- include header partial -->
      <% include ./partials/_header %>
      <p>If you have registered an account already, please use this link to <a href="/login">log-in</a></p>
    </header>
    
    <section class="container">
      <h3>Create Account</h3>
      <form action="/register" method="POST">
        <!-- Email -->
        <div class="form-group">
          <label for="email">Email:</label>
          <input class="form-control" type="email" name="email" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <!-- Password -->
        <div class="form-group">
          <label for="password">Password:</label>
          <input class="form-control" type="password" name="password">
        </div>
        <button type="submit" class="btn btn-outline-primary">Register</button>
      </form>
    </section>

    <footer class="footer">
      <!-- include footer -->
      <% include ./partials/_footer %>
    </footer>
  </body>
</html>