<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- include head partial -->
    <% include ./partials/_head %>
  </head>
  <body>
    <header>
      <!-- include header partial -->
      <% include ./partials/_header %>
    </header>

    <section class="box">
      <h3>Create Account</h3>
      <p class="text-muted">Get started, absolutely free</p>
      <p>Already have an account? <a href="/auth/login">Login</a></p>
      <form action="/auth/register" method="POST">
        <!-- Email -->
        <div class="form-group">
          <label for="email">Email:</label>
          <input class="form-control" type="email" name="email" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <!-- Password -->
        <div class="form-group">
          <label for="password">Password:</label>
          <input class="form-control" type="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Register</button>
      </form>
    </section>

    <footer class="footer mt-auto py-3">
      <!-- include footer -->
      <% include ./partials/_footer %>
    </footer>
  </body>
</html>
