<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- include head partial -->
    <% include ./partials/_head %>
  </head>
  <body>
  <header>
    <!-- include header partial -->
    <% include ./partials/_header %>
    <h3>My resources</h3>
  </header>
  
  <section class="resources">
    <article class="box">
      <h4>Added by me:</h4>
      <ul>
        <li>
          <h5>Resource Title - </h5>
          <a href="#">Resource link</a>
        </li>
        <li>
          <h5>Resource Title - </h5>
          <a href="#">Resource link</a>
        </li>
        <li>
          <h5>Resource Title - </h5>
          <a href="#">Resource link</a>
        </li>
      </ul>
    </article>
    <article class="box">
      <h4>Liked by me:</h4>
      <ul>
        <li>
          <h5>Resource Title - </h5>
          <a href="#">Resource link</a>
        </li>
        <li>
          <h5>Resource Title - </h5>
          <a href="#">Resource link</a>
        </li>
      </ul>
    </article>
  </section>
  
  <footer class="footer mt-auto py-3">
    <!-- include footer -->
    <% include ./partials/_footer %>
  </footer>
  </body>
</html>
