$border-color: #b3b3b3;
$grey-background: #f2f2f2;
$breakpoint-phone: 425px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
body {
  font-size: 100%;
  padding: 0;
}
h3 {
  font-size: 2em;
  padding-left: 0.5em;
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  margin-bottom: 2em;
  ul {
    a {
      font-size: 1.1em;
      border-radius: 0.15rem;
    }
  }
  p {
    a {
      font-size: 1.5em;
      font-weight: bold;
    }
  }
  a:link {
    text-decoration: none;
  }
  img {
    width: 2.5em;
    height: 2.5em;
  }
  form {
    p {
      display: inline-block;
      margin-right: 0.6em;
    }
  }
  .dropdown {
    border: none;
  }
}
.content {
  display: flex;
  .side-nav {
    width: 20vw;
    padding: 1em;
  }
  .card-columns {
    button {
      padding: 0;
      border-radius: 3px;
      i {
        color: #e60000;
        margin: 0.5em;
      }
    }
    button:focus {
      outline: 0;
    }
    .foot-card {
      display: flex;
      justify-content: space-between;
    }
    .liked {
      background-color: #e60000;
      i {
        color: white;
      }
    }
    .rating {
      unicode-bidi: bidi-override;
      direction: rtl;
      text-align: right;
    }
    .rating > span {
      display: inline-block;
      position: relative;
      width: 1.1em;
      font-size: 1.5em;
    }
    .rating > span:hover,
    .rating > span:hover ~ span {
      color: orange;
    }
    .rating > span:hover:before,
    .rating > span:hover ~ span:before {
       position: absolute;
       left: 0; 
       color: orange;
    }
  }
}
.card-columns {
  padding: 1em;
  margin-bottom: 4em;
}
.box {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  p {
    margin-bottom: 0.5em;
  }
  form {
    text-align: left;
    padding: 0.5em;
    margin-top: 3em;
    label {
      margin-bottom: 0;
    }
    button {
      margin-top: 1.5em;
    }
  }
}
.postbox {
  width: 70%;
  margin: 0 auto;
}
.footer {
  width: 100%;
  text-align: center;
  background-color: $grey-background;
  bottom: 0;
  position: fixed;
  p {
    margin-bottom: 0;
  }
}
.resources {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2em;
  .card-columns {
    margin-bottom: 0;
    column-count: 2;
    .card {
        padding: 1em;
    }
  }
  h4 {
    border-bottom: 1px solid $border-color;
    margin-bottom: 0.6em;
    padding-bottom: 0.2em;
  }
  ul {
    padding: 0;
    li {
      list-style-type: none;
      h5 {
        display: inline-block;
      }
    }
  }
}
.checked {
  color: orange;
 }
.search {
  display: flex;
  justify-content: flex-start;
  padding-left: 1em;
  button {
    border-radius: 5px;
    height: 2.625em;
    width: 2.8em;
  }
  button:focus {
    outline: 0;
  }
  input {
    border-radius: 5px;
    width: 60%;
    height: 2.625em;
  }
  input:focus {
    outline: 0;
  }
}
.margin-top {
  margin-top: 3em;
}
#register {
  margin-bottom: 6em;
}
#new-form {
  margin-bottom: 6em;
}
#comments {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 4em;
}

//Media Queries
@media (min-width: $breakpoint-phone) {
  .box {
    width: 70%;
  }
}
@media (min-width: $breakpoint-tablet) {
  .box {
    width: 50%;
  }
  .card {
    width: 300px;
  }
  #btn-nav {
    height: 2.5em;
  }
}
@media (min-width: $breakpoint-laptop) {
  .box {
    width: 40%;
    form {
      border: 1px solid $border-color;
      border-radius: 3px;
      background-color: $grey-background;
      padding: 2em;
    }
  }
  li.card {
    width: 103% !important;
  }
}
@media (max-width: $breakpoint-phone) {
  .card-columns {
    padding: 0;
  }
  .header {
    flex-direction: column;
    align-items: center;
    padding: 0;
    .btn-group {
      width: 100%;
    }
    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      p {
        text-align: center;
      }
      .btn {
        margin-bottom: 0.2em;
      }
    }
  }
  .nav {
    width: 100%;
    flex-direction: column;
    a {
      text-align: center;
    }
  }
  .search {
    flex-direction: column;
    padding: 0;
    margin: 0.2em 0;
    input {
      width: 100%;
    }
    button {
      width: 100%;
    }
  }
}
@media (max-width: 500px){
  .header {
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        display: block;
        margin-right: 0;
      }
      button {
        margin-top: 0.2em;
      }
    }
  }
}
@media (max-width: $breakpoint-tablet) {
  .content {
    flex-direction: column;
    .side-nav {
      width: 100%;
      .flex-column {
        flex-direction: row!important;
      }
    }
    .card-columns {
      .foot-card {
        .rating > span{
          font-size: 1.2em;
        }
      }
    }
  }
  .header {
    margin-bottom: 0;
    flex-direction: column;
    align-items: center;
  }
  .search {
    justify-content: center;
  }
}
@media (max-width: $breakpoint-laptop) {
  .foot-card {
    flex-direction: column;
    justify-content: center;
    .rating {
      margin: 0 auto;
    }
  }
}
@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-laptop) {
  .resources {
    .box {
      margin: 1em;
      width: 70%;
    }
  }
}